
<div class="gray-card">
    <h1 class="orange-title">Top 15 Hacker News</h1>
    <br>
    <div class="card">
        <div class="card-content">
            <p class="title is-4">
                Definitely not Windows 95: What operating systems keep things running in space?
            </p>
            <p class="subtitle is-6 is-underline">
                by dguo 10/02/2020 09:44
            </p>
            <br>
            <p class="black-subtitle">92 comments</p>
            <br>
            <a class="orange-subtitle" href="#">+Show most relevant comments</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-content">
            <p class="title is-4">
                Definitely not Windows 95: What operating systems keep things running in space?
            </p>
            <p class="subtitle is-6 is-underline">
                by dguo 10/02/2020 09:44
            </p>
            <br>
            <p class="black-subtitle">92 comments</p>
            <br>
            <a class="orange-subtitle" href="#">-Hide most relevant comments</a>
        </div>
        <div class="card-content">
            <p class="subtitle is-6 is-underline">
                by kyuudou 10/02/2020 15:30
            </p>
            <p>
                Did not know VxWorks is so prominent in space programs. I&#x27;m used to seeing it when trying to talk to backend storage arrays and the like.
            <p>
        </div>
    </div>
</div>