
<div class="gray-card">
    <h1 class="orange-title">Top 15 Hacker News</h1>
    <br>
    <% @top_hackers.each_with_index do |top_hacker, index| %>
        <%= render partial: 'card', locals: { 
                comments: top_hacker[:comments],
                title: top_hacker[:title],
                author: top_hacker[:author],
                date: top_hacker[:date],
                id: index,
                url:  top_hacker[:url]
            } %>
    <% end %>
</div>