@import "bulma/bulma";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "./**/*";


.navbar.is-orange {
    background-color:#ef6537;
    font-weight: bold;
}

.navbar-item.is-color-black {
    color: #000000
}

.logo {
    border: 1px white solid;
    font-size: 23px;
    margin: 5px;
    width: 28px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.orange-title {
    font-weight: bold;
    color: #ef6537;
    font-size: 25px;
}

.gray-card {
    background: #f1f1f1;
    padding: 8px 20px;
    margin: 24px -20px;
    box-shadow: none!important;
}

.orange-subtitle {
    font-weight: bold;
    color: #ef6537;
    font-size: 19px;
}

.black-subtitle {
    font-weight: bold;
    color: #000000;
    font-size: 19px;
}

.is-underline {
    text-decoration: underline;
}